/* --------------- */
/* Status bar */

.status-bar {
  background-color:var(--background-secondary-alt);
  color:var(--text-accent);
  font-size: calc(var(--font-smaller) * var(--font-small) * var(--font-normal));
  padding:0;
  justify-content: flex-end;
}

.status-bar-item {
  padding:0 5px;
}

.status-bar-item-segment {
  margin-right:10px;
}
