/* --------------- */
/* Graphs */

.graph-controls {
  border:none;
  left:0;
  top:0;
  margin-bottom:0;
  padding:10px 20px 10px 10px;
}


.theme-light .graph-controls {
  background-color: var(--background-primary);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.05);
  margin-left: 1rem;
}

.theme-dark .graph-controls {
  background-color: var(--background-primary);
  margin-left: 1rem;
}

.graph-control-section .setting-item .setting-item-info .setting-item-name {
color:var(--text-normal) !important;
//color: var(--text-accent);
}

.graph-control-section-header {
  //Color:var(--text-accent);
  font-weight: bold;
}

.graph-controls.is-close {
  Background-color:var(--background-primary);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.05);
  padding: 5px;
  margin-left: 1.6rem;
  margin-top: 1rem;
}
.graph-controls-button svg {
  color: var(--text-accent);
}

input[type=range] {
  background-color:rgba(0,0,0,0.03);
  height:16px;
  padding:9px 7px 0 7px;
  -webkit-appearance:none;
  cursor:default;
  margin:0;
  border-radius:50px;
}

input[type=range]:focus {

}

input[type=range]::-webkit-slider-runnable-track {
  background:var(--text-muted);
  height:1px;
  margin-top:-9px;
}

input[type=range]::-webkit-slider-thumb {
  background:var(--text-accent);
  height:7px;
  width:20px;
  margin-top:0px;
  cursor:default;
}

input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-webkit-slider-thumb:active {
  background:var(--text-normal);
}

.local-graph-jumps-slider-container,
.workspace-split.mod-left-split .local-graph-jumps-slider-container,
.workspace-split.mod-right-split .local-graph-jumps-slider-container,
.workspace-fake-target-overlay .local-graph-jumps-slider-container {
  background:transparent;
  opacity:0.6;
  padding:0;
  left:12px;
  transition:opacity 0.2s linear;
  height:auto;
}

.mod-root .local-graph-jumps-slider-container {
  right:0;
  left:0;
  width:var(--line-width);
  max-width:var(--max-width);
  margin:0 auto;
  top:30px;
}

.workspace-split.mod-left-split .local-graph-jumps-slider-container:hover,
.workspace-split.mod-right-split .local-graph-jumps-slider-container:hover,
.workspace-fake-target-overlay .local-graph-jumps-slider-container:hover,
.local-graph-jumps-slider-container:hover {
  opacity:0.8;
  transition:opacity 0.2s linear;
}


.graph-view.color-fill-focused {
  color: var(--text-accent);
}

.graph-view.color-fill {
  color: var(--text-accent);
  opacity: 0.6;
}

.graph-view.color-circle {
  color:transparent;
}

.graph-view.color-line {
  color:var(--text-faint);
}

.graph-view.color-text {
  color:var(--text-normal);
}

.bold-italic-accent .graph-view.color-fill-highlight {
  color: hsl(var(--accent-h), calc(var(--accent-s) + 50%), var(--accent-d))
}

.graph-view.color-line-highlight {
  color:var(--interactive-accent);
}
