/* ---------------------------------------------------------------------------------------------- */
/* -------------------------- WYS edit mode ------------------------------------------- */


body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-1.cm-header.cm-header-1,
body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2,
body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-3.cm-header.cm-header-3,
body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-4.cm-header.cm-header-4,
body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-5.cm-header.cm-header-5,
body:not(.is-mobile).wys-mode div:not(.CodeMirror-activeline) > pre .cm-formatting.cm-formatting-header.cm-formatting-header-6.cm-header.cm-header-6 {
  font-size: 0px !important;
}

/*.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-1.cm-header.cm-header-1,
.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2,
.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-3.cm-header.cm-header-3,
.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-4.cm-header.cm-header-4,
.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-5.cm-header.cm-header-5,
.wys-mode div:not(.CodeMirror-activeline) > .cm-formatting.cm-formatting-header.cm-formatting-header-6.cm-header.cm-header-6 {
  font-size: 0.5px !important;
  color: transparent !important;
  margin: 0;
  padding: 0;
}*/

.wys-mode  .CodeMirror-sizer {
  left: var(--p-offset);
  width: calc(100% - var(--p-offset) - 4.2rem);
}

.wys-mode .markdown-source-view.is-live-preview .cm-contentContainer{
  margin-left: var(--p-offset) !important;
}

.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header {
  left: calc(-1 * var(--p-offset)) !important;
}

.wys-mode .markdown-source-view.is-live-preview .HyperMD-header  {
  margin-left: calc(-1 * var(--p-offset)) !important;
}

.wys-mode .CodeMirror-activeline .cm-formatting-header{
 display: none;
 position: relative;
 //display: inline-block;
}

/*.wys-mode .CodeMirror-activeline .HyperMD-header {
  //left: 0rem;
}*/

.wys-mode .CodeMirror-activeline  .cm-formatting-header{
  font-size: 0.8em !important;
  margin-right: 0.5rem;

}

.h-reveal.wys-mode .HyperMD-header-1:before {
  content: "H1";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-1:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.h-reveal.wys-mode .HyperMD-header-2:before {
  content: "H2";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-2:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.h-reveal.wys-mode .HyperMD-header-3:before {
  content: "H3";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-3:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.h-reveal.wys-mode .HyperMD-header-4:before {
  content: "H4";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-4:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.h-reveal.wys-mode .HyperMD-header-5:before {
  content: "H5";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-5:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.h-reveal.wys-mode .HyperMD-header-6:before {
  content: "H6";
  color: var(--text-accent);
  font-size: 0.8rem;
  font-family: var(--text-title);
  margin-right: 1rem;
}

.bold-italic-accent.h-reveal.wys-mode .HyperMD-header-6:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-1:before,
.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-2:before,
.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-3:before,
.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-4:before,
.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-5:before,
.bold-italic-accent.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-header-6:before {
  filter: hue-rotate(var(--hue-bold-italic));
}

.wys-mode .markdown-source-view:not(.is-live-preview) .HyperMD-list-line .cm-formatting-list:not(.cm-formatting-list-ol):before{
  content: "●";
  position: relative;
  //font-size: 1.2rem;
  display: absolute;
  color: var(--text-accent);
  left: 26px;
  margin-right: 1rem;
}

@media (max-width: 400pt){
  .wys-mode .markdown-source-view:not(.is-live-preview) .HyperMD-list-line .cm-formatting-list:not(.cm-formatting-list-ol):before{
    content: "•" !important;
    font-size: 1.3rem;
  }}

.wys-mode .markdown-source-view.is-live-preview .list-bullet {
  color: var(--text-accent);
  padding-right: 0.3rem;
}

.markdown-source-view.is-live-preview .cm-link .cm-underline,
.markdown-source-view.is-live-preview .cm-hmd-internal-link .cm-underline{
  text-decoration: none;
}

.wys-mode .markdown-source-view:not(.is-live-preview) .cm-formatting-list:not(.cm-formatting-list-ol) {
  //display: none;
  position: relative;
  left: -6px;
  margin-left: -1rem;
  //color: transparent !important;
}


/* Remove markdown clutter */

.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-strong,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-em,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-url.cm-string,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link:not(.cm-link),
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hmd-barelink,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag{
  display: none !important;
}

.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting.cm-formatting-code-block.cm-hmd-codeblock {
  display: inline !important;
}

.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task {
  display: inline !important;
}

/* and task checkboxes */
.wys-mode span.cm-formatting-task {
  display: inline !important;
}

/* highlight (==) not visible anymore if not active line */
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-formatting-highlight.cm-highlight {
  font-size: 0;
}

/* Blockquote: in edit mode with left border rendered instead of > */
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting.cm-formatting-quote,
.wys-mode div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hmd-indent-in-quote {
  display: inline !important;
  color: transparent !important;
}

.cm-link{
  color: var(--text-faint) !important;
}

.wys-mode div:not(.CodeMirror-activeline) > .HyperMD-quote:before {
  font-size: 2.5em;
  margin-right: -0.25em;
  margin-left: 0.35em;
  line-height: 0.1em;
  vertical-align: -0.3em;
  display: inline;
  position: relative;
}


.wys-mode  .HyperMD-quote {
  padding: 0.8rem 0rem 0.8rem 0rem;
  margin-left: 0rem;
  font-size: 1.2rem;
}

.wys-mode.blockquote-background div:not(.CodeMirror-activeline) > .HyperMD-quote {
  line-height: 1.75em;
  color: hsl(var(--blockquote-border));
  font-family: var(--text);
  border: none;
  border-left: 0.3rem solid var(--text-accent);
  background-color: var(--background-secondary-alt);
  border-radius: 0px;
  display: inline-block;
  padding-right: 1.5rem !important;
  width: 100%;
}

.wys-mode:not(.blockquote-background) div:not(.CodeMirror-activeline) .HyperMD-quote {
  background: transparent;
}

.wys-mode.blockquote-background.blockquote-bracket div:not(.CodeMirror-activeline) > .HyperMD-quote {
left: 30px;
width: calc(100% - 3rem);
display: block;
padding-right: 1.5rem !important;
margin-left: calc(var(--p-offset));
 }

  .wys-mode.blockquote-background.blockquote-bracket div:not(.CodeMirror-activeline) > .HyperMD-quote:before {
    left: -60px !important;
  }

.wys-mode.blockquote-bracket  div:not(.CodeMirror-activeline) > .HyperMD-quote{
  margin-left: var(--p-offset);

}

.wys-mode.blockquote-bracket .markdown-source-view:not(.is-live-preview) div:not(.CodeMirror-activeline)  > .HyperMD-quote:before{
  content: "“" !important;
  font-family: lora !important;
  position: absolute; !important;
  top: 0.6rem !important;
  left: -30px !important;
  font-size: 5rem !important;
  color: var(--text-accent) !important;
  margin-top: 30px;
}

.wys-mode.blockquote-bracket .markdown-source-view.is-live-preview .HyperMD-quote{
  margin-left: 3rem !important;
}

.wys-mode.blockquote-bracket .markdown-source-view.is-live-preview .HyperMD-quote:before {
  content: "“" !important;
  font-family: lora !important;
  position: static !important;
  top: 0.6rem !important;
  margin-left: -3rem !important;
  margin-right: 1rem;
  font-size: 5rem !important;
  color: var(--text-accent) !important;
  margin-top: 30px;
}

.wys-mode.blockquote-serif div:not(.CodeMirror-activeline) > .HyperMD-quote {
 font-family: lora;

}

/*.wys-mode .CodeMirror-activeline .cm-hmd-frontmatter.cm-def,.wys-mode .cm-hmd-frontmatter.cm-def:hover,.markdown-source-view.is-live-preview .cm-active .cm-hmd-frontmatter.cm-def{
  opacity: 1 !important;
}
.wys-mode div:not(.CodeMirror-activeline) .cm-hmd-frontmatter.cm-def{
  opacity: 0;
}*/

.wys-mode div:not(.cm-active) > .cm-hmd-frontmatter.cm-def{
  color: transparent !important;
}

.wys-mode div:not(.cm-active) > .cm-hmd-frontmatter.cm-def:before{
color: var(--text-accent) !important;
font-family: mulish ;
content: "———";
position: absolute;
margin-top: 0.5rem !important;
height: 3px;
}

/*.wys-mode .CodeMirror-line .cm-atom.cm-def:first-of-type:before,*/
.wys-mode .cm-hmd-frontmatter.cm-atom,.wys-mode .cm-hmd-frontmatter.cm-meta {
  color: var(--text-accent) !important;
  font-weight: bold;
}


.wys-mode  span.cm-hmd-frontmatter {
  font-family: var(--text);
  font-size: calc(var(--font-smaller) * var(--font-small) * var(--font-normal));
  color: var(--text-normal) !important;
  //font-style: italic;
}

/*
.wys-mode  .CodeMirror-activeline span.cm-image-alt-text,.wys-mode .CodeMirror-activeline span.cm-image-marker,.wys-mode .CodeMirror-activeline .cm-hmd-internal-link.cm-hmd-embed{
  opacity: 1 !important;
}

.wys-mode .markdown-source-view:not(.is-live-preview)  div:not(.CodeMirror-activeline) span.cm-image-alt-text,
.wys-mode .markdown-source-view:not(.is-live-preview) div:not(.CodeMirror-activeline) span.cm-image-marker,
.wys-mode .markdown-source-view:not(.is-live-preview) div:not(.CodeMirror-activeline) span.cm-hmd-internal-link.cm-hmd-embed{
  opacity: 0;
}
*/

.oz-transclusion-widget{
  background: var(--background-secondary-alt);
  border: none !important;
}

.wys-mode .CodeMirror-activeline span.cm-hmd-internal-link.cm-hmd-embed:before{

 display: none;
}

.img-border-radius.wys-mode .markdown-source-view img {
  border-radius: 25px;
}
.img-box-shadow.wys-mode .markdown-source-view img {
box-shadow: 0px 2px 10px -4px #333;
}

.wys-mode.img-rounded.img-rounded-small  .markdown-source-view img {
  border-radius: 100% ;
  width: 150px;
  height: 150px;
  position:relative;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}


.wys-mode.img-rounded.img-rounded-medium .markdown-source-view img {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  position:relative;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.wys-mode.img-rounded.img-rounded-big .markdown-source-view img {
  border-radius: 100%;
  width: 600px;
  height: 600px;
  position:relative;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}



.markdown-source-view.is-live-preview .markdown-embed{
  background: var(--background-secondary-alt);
}

.title-collapse .collapse-indicator {
  opacity: 0 !important;
}

.title-collapse .collapse-indicator:hover{
  opacity: 1 !important;
}
